/* FALE CONOSCO */
.secaoBannerContato {
    .grid-x {
      min-height: 510px;
      padding: 90px 0;
    }
    h1 {
      color: #ffffff;
      font-size: 49px;
      font-weight: 700;
      line-height: 57px;
      margin: 85px auto 0px auto;
      max-width: 800px;
    }
    p {
      color: #ffffff;
      font-size: 18px;
      font-weight: 500;
    }
    a {
      background-color: #ffffff;
      border-radius: 30px;
      color: #45589e;
      display: inline-block;
      font-size: 15px;
      font-weight: 500;
      line-height: 50px;
      padding: 0 15px;
      text-align: center;
      width: 270px;
      &:hover {
        background-color: #00ef8a;
        color: #3c4154;
      }
    }
  }
  
  @media screen and (max-width: 767px) {
    .secaoBannerContato {
      background-image: url(../img/bg-fale-conosco-mobile.jpg);
      background-position: center;
      background-size: cover;
      &.webp {
        background-image: url(../img/webp/bg-fale-conosco-mobile.webp);
      }
      h1 {
        font-size: 38px;
        line-height: 45px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .secaoBannerContato {
      background-image: url(../img/bg-fale-conosco.jpg);
      background-position: center;
      background-size: cover;
      &.webp {
        background-image: url(../img/webp/bg-fale-conosco.webp);
      }
    }
  }
  
  .secaoEquipe {
    .grid-x {
      padding: 90px 0;
    }
    h2 {
      font-size: 33px;
      line-height: 45px;
    }
    .boxEquipe {
      box-shadow: 15px 15px 10px 10px #2b159314;
      border-radius: 15px;
      margin: 0 auto 30px auto;
      max-width: 585px;
      padding: 25px 35px;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      picture {
        margin-right: 20px;
      }
      p {
        color: #606478;
        font-size: 15px;
        line-height: 24px;
        .setor {
          font-size: 16px;
          font-weight: 700;
        }
        .nome {
          font-weight: 700;
        }
        a {
          color: #606478;
          &.form {
            color: #45589e;
          }
        }
      }
      &.comercial {
        .setor {
          color: #0070c6;
        }
        a:hover {
          color: #0070c6;
        }
      }
      &.design {
        .setor {
          color: #931495;
        }
        a:hover {
          color: #931495;
        }
      }
      &.conteudo {
        .setor {
          color: #fd9b00;
        }
        a:hover {
          color: #fd9b00;
        }
      }
      &.midias {
        .setor {
          color: #ff6600;
        }
        a:hover {
          color: #ff6600;
        }
      }
      &.financeira {
        .setor {
          color: #f74d74;
        }
        a:hover {
          color: #f74d74;
        }
      }
      &.tecnica {
        .setor {
          color: #42ae00;
        }
        a:hover {
          color: #42ae00;
        }
      }
      &.suporte {
        .setor {
          color: #009e95;
        }
        a:hover {
          color: #009e95;
        }
      }
    }
  }
  
  @media screen and (max-width: 767px) {
    .secaoEquipe {
      .grid-x {
        padding: 45px 0;
        .cell {
          &.text-center {
            h2 {
              font-size: 30px;
              line-height: 35px;
              margin: 0 auto;
            }
            p {
              line-height: 24px;
              margin: 0 auto;
              max-width: 275px;
            }
          }
        }
      }
      .boxEquipe {
        flex-direction: column;
        text-align: center;
        max-width: 480px;
        picture {
          margin-right: 0;
          margin-bottom: 15px;
          width: 100%;
        }
        p {
          width: 100%;
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
  }
  
  .secaoEvonlineAplicativo {
    .grid-x {
      padding: 90px 0 0;
      text-align: center;
    }
    h2 {
      font-size: 50px;
      font-weight: 700;
      line-height: 57px;
    }
    .dataInfo {
      p {
        border-left: 1px solid #ffffff;
        font-size: 34px;
        font-weight: 400;
        float: right;
        letter-spacing: -2px;
        margin-bottom: 0;
        padding: 0 0px 5px 20px;
        span {
          font-size: 55px;
          font-weight: 700;
          line-height: 60px;
          letter-spacing: -1px;
        }
      }
    }
  }
  
  @media screen and (max-width: 767px) {
    .secaoEvonlineAplicativo {
      background-image: url(../img/bg-contato-aplicativo-mobile.jpg);
      background-position: center;
      background-size: cover;
      &.webp {
        background-image: url(../img/webp/bg-contato-aplicativo-mobile.webp);
      }
      h2 {
        font-size: 38px;
        line-height: 45px;
      }
      .small-6 {
        margin-top: 25px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .secaoEvonlineAplicativo {
      background-image: url(../img/bg-contato-aplicativo.jpg);
      background-position: center;
      background-size: cover;
      &.webp {
        background-image: url(../img/webp/bg-contato-aplicativo.webp);
      }
    }
  }
  @media screen and (max-width: 1139px) {
    .secaoEvonlineAplicativo {
      h2 {
        font-size: 38px;
        line-height: 45px;
      }
    }
  }