.topBar {
  background-color: #3c4154;
  .grid-x {
    max-width: 1205px;
    min-height: 50px;
  }
  p {
    color: #bdc0cc;
    font-size: 13px;
    line-height: 50px;
    padding: 0;
  }
  a {
    background-color: #313747;
    color: #00ef8a;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 50px;
    margin-left: 2px;
    text-align: center;
    i {
      font-size: 20px;
      margin-right: 8px;
      vertical-align: middle;
    }
    &:hover {
      background: #00ef8a;
      color: #313747;
    }
    &.featured {
      background-color: #00ef8a;
      color: #313747;
      font-size: 15px;
    }
  }
}

.mainMenu {
  .menu {
    position: relative;
  }
  .menu > li {
    display: inline-block;
  }
  .is-dropdown-submenu-parent.mega-menu {
    position: static;
  }
  .mega-menu {
    &.is-active > a {
      opacity: 0.6;
    }
    .menu {
      width: 100%;
    }
    .is-dropdown-submenu {
      left: 0;
      right: 0;
      top: 79px !important;
      position: absolute;
    }
  }
  .sticky-container {
    transition: 0.3s;    
    .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
      border-color: #ffffff transparent transparent;
      right: 20px;
      margin-top: -4px;
    }
    .boxMegamenu {
      border-radius: 5px;
    }
    .is-stuck {
      box-shadow: 0px 10px 10px #2b159314;
      background-color: #ffffff;
      transition: 0.3s;
      .dropdown.menu > li.is-active > a {
        color: get-color(primary);
      }
      .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
        border-color: get-color(primary) transparent transparent;
      }
      .boxMegamenu {
        border-radius: 0px 0px 5px 5px;
      }
      .menu {
        a {
          color: #45589e;
          &:hover {
            color: #3858a3;
          }
          &.featured {
            background-color: #3858a3;
            border-color: #3858a3;
            color: #ffffff;
            &:hover {
              background-color: #ffffff;
              border-color: #3858a3;
              color: #3858a3;
            }
          }
        }
      }
      .menuMobile {
        color: #3858a3;
      }
    }
  }
  a {
    color: #ffffff;
    line-height: 50px;
    padding: 0 40px !important;
    text-align: center;
    &.evologo {
      padding: 0 !important;
    }
    &.featured {
      border: 2px solid #ffffff;
      border-radius: 30px;
      line-height: 46px;
      width: 203px;
    }
    &.featured:hover {
      background-color: #00ef8a;
      border-color: #00ef8a;
      color: #313747;
      opacity: 1;
    }
    &.is-active {
      opacity: 0.6;
    }
    &:hover {
      color: #ffffff;
      opacity: 0.6;
    }
    &:active {
      color: #00ef8a;
      opacity: 1;
    }
  }
  .logo {
    padding: 0 !important;
    opacity: 1 !important;
    &:hover {
      opacity: 1;
    }
  }
  .megamenu a {
    color: #3c4154;
  } 
  .boxMegamenu {
    border: 0;
    border-top: 2px solid #eef3f9;
    box-shadow: 0px 10px 10px #2b159314;
    padding: 30px 50px;
    .grid-x {
      height: auto;
    }
    a {
      border-radius: 10px;
      max-width: 280px;
      padding: 10px !important;
      text-align: left;
      width: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      &:hover {
        background-color: #eef3f9;
        opacity: 1;
      }
      picture {
        float: left;
      }
      p {
        color: #606478;
        font-size: 13px;
        float: left;
        line-height: 21px;
        margin-left: 10px;
        span {
          font-size: 15px;
          &.criacaoSites {
            color: #00b19f;
          }
          &.criacaoLojas {
            color: #ea6f8c;
          }
          &.criacaoMarcas {
            color: #2d9ac3;
          }
          &.designGrafico {
            color: #fa7b49;
          }
          &.criacaoNomes {
            color: #956ac5;
          }
          &.googleAnuncio {
            color: #50a984;
          }
          &.seoSites {
            color: #9b7c64;
          }
          &.criacaoConteudo {
            color: #f14d70;
          }
          &.emailMarketing {
            color: #e2a022;
          }
          &.inboudMarketing {
            color: #af5059;
          }
          &.redesSociais {
            color: #5c6ac3;
          }
        }
      }
    }
  }
}
