.scrollMenuMobile {
    max-height: 660px;
    overflow: auto;
  .mobHeader {
    background-color: #ffffff;
    padding: 40px 15px;
    .close-button {
      background-color: #f1f1fd;
      border-radius: 50px;
      color: #3858a3;
      font-size: 19px;
      line-height: 50px;
      width: 50px;
    }
    .mobBtn {
      background-color: #1d58a8;
      border-radius: 30px;
      color: #ffffff;
      display: inline-block;
      line-height: 50px;
      margin: 0 5px;
      max-width: 180px;
      text-align: center;
      width: 100%;
    }
    .mobWhats {
      background-color: #00ec8a;
      border-radius: 50px;
      color: #404454;
      display: inline-block;
      font-size: 25px;
      line-height: 50px;
      text-align: center;
      width: 50px;
    }
  }
  .mobMenu {
    .accordion-menu {
      a {
        border-bottom: 1px solid #ffffff;
        font-size: 15px;
      }
      .submenu {
        a {
          background-color: #ffffff;
          color: #606478;       
          span {
            display: inline-block;
            text-align: center;
            width: 45px;
          }
        }
      }
    }
    .btnClientes {
      background-color: #4475c4;
      color: #ffffff;
      border-bottom-width: 0px !important;
    }
  }
  .mobApp {
    background-color: #547ec8;
    padding: 0 20px;
    .cell {
      p {
        color: #ffffff;
        font-size: 12px;
        line-height: 16px;
        margin: 17px 5px;
      }
    }
    .mobPlay,
    .mobApple {
      background-color: #ffffff;
      border-radius: 30px;
      color: #606478;
      display: block;
      font-size: 15px;
      line-height: 50px;
      margin: 0 5px 20px 5px;
      text-align: center;
    }
  }
}

.mainMenu {
  .menuMobile {
    color: #ffffff;
    font-size: 27px;
    &:focus {
      outline: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .secaoEvonline {
    background-image: url(../img/bg-parallax.jpg);
    background-position: center;
    background-size: cover;
    &.webp {
      background-image: url(../img/webp/bg-parallax.webp);
    }
  }
  .secaoAgencia {
    .grid-x:before {
      content: url(../img/webp/equipe-evonline.webp);
      position: absolute;
      z-index: 3;
      margin-top: -25px;
      pointer-events: none;
      left: 50%;
      margin-left: -600px;
    }
  }
}

@media screen and (max-width: 1139px) {
  main {
    text-align: center;
  }
  .footer {
    text-align: center;
    p {
      margin: 0 auto 15px auto;
    }
    .selos {
      justify-content: center;
      picture {
        source,
        img {
          max-width: 193px;
        }
        &:nth-child(2) {
          margin-right: 0;
        }
      }
    }
    .menuFooter {
      text-align: center;
      h4 {
        border-top: 2px solid #4b4f62;
        margin-top: 40px;
        padding-top: 35px;
      }
    }
    .menuApp {
      h4 {
        margin-top: 30px;
        margin-bottom: 0;
      }
      p {
        margin-bottom: 20px;
      }
    }
  }
  .copyright {
    .grid-x {
      .cell {
        text-align: center;
      }
    }
  }
  .whatsAppFloat {
    max-width: 75px;
  }
}

@media screen and (max-width: 767px) {
  .secaoBanner,
  .secaoServicos,
  .secaoMarketingDigital,
  .secaoClientes,
  .secaoDepoimentos,
  .secaoEvonline,
  .secaoContato,
  .footer,
  .copyright,
  .secaoConteudo,
  .secaoStandard,
  .secaoDiferenciais,
  .secaoInteressados,
  .copyright {
    padding: 0 25px;
    .grid-x {
      padding: 40px 0;
    }
    .box {
      padding: 0 25px;
    }
  }
  .secaoBanner {
    h1 {
      font-size: 38px;
      line-height: 45px;
    }
  }
  .secaoServicos,
  .secaoEvonline {
    h2 {
      font-size: 30px;
      line-height: 35px;
      margin: 0 auto;
      max-width: 350px;
    }
    p {
      line-height: 24px;
      margin: 0 auto;
      max-width: 350px;
    }
  }
  .secaoPorfolio {
    .grid-x {
      padding: 40px 0 0;
    }
    h2 {
      font-size: 30px;
      line-height: 35px;
      margin: 0 auto;
    }
    p {
      line-height: 24px;
      margin: 0 auto;
      max-width: 350px;
    }
  }
  .secaoEvonline {
    .dataInfo {
      margin-top: 30px;
      p {
        float: left;
      }
    }
  }
  .secaoMarketingDigital {
    .cell {
      text-align: center;
      &.marginBottom {
        margin-bottom: 45px;
      }
    }
  }
  .secaoClientes,
  .secaoDepoimentos,
  .secaoContato {
    h2 {
      font-size: 28px;
      line-height: 35px;
      margin: 0 auto;
      max-width: 350px;
    }
    p {
      line-height: 24px;
      margin: 0 auto;
      max-width: 360px;
    }
  }
  .footer {
    .grid-x {
      padding-bottom: 0;
    }
    .cell:nth-child(1){
      order: 1;
    }
    .cell:nth-child(2){
      order: 3;
    }
    .cell:nth-child(3){
      order: 4;
    }
    .cell:nth-child(4){
      order: 2;
    }
    .cell:nth-child(5){
      order: 4;
    }
  }
  .secaoEvonline {
    background-color: #3858a3;
    .cell {
      text-align: center;
      &.dataInfo {
        p {
          text-align: left;
        }
      }
    }
  }
  .secaoPorfolio {
    .grid-layout {
      grid-template-columns: repeat(auto-fill, minmax(160px, 0fr));
      grid-auto-rows: minmax(160px, auto);
    }
  }
}

@media screen and (max-width: 479px) {
  .secaoBanner,
  .secaoServicos,
  .secaoMarketingDigital,
  .secaoClientes,
  .secaoDepoimentos,
  .secaoEvonline,
  .secaoContato,
  .footer,
  .copyright,
  .secaoConteudo,
  .secaoStandard,
  .secaoDiferenciais,
  .secaoInteressados,
  .copyright {
    padding: 0 15px;
  }
  .secaoBanner {
    a {
      font-size: 14px;
    }
  }
  .btn {
    &.proposta {
      font-size: 14px !important;
    }
  }
  .secaoEvonline {
    .cell {
      margin: 0;
      &.large-6 {
        width: 100%;
      }
      &.large-3 {
        width: 50%;
      }
    }
    .dataInfo {
      margin-top: 30px;
      p {
        font-size: 28px;
        padding: 0 0px 5px 10px;
        text-align: left;
        width: 100%;
        span {
          font-size: 50px;
        }
      }
    }
  }
  .footer {
    .selos {
      display: block;
      text-align: center;
      picture {
        &:nth-child(1) {
          margin: 0 0 15px 0;
        }
        source,
        img {
          max-width: 220px;
        }
      }
    }
  }
  .secaoPorfolio {
    .grid-layout {
      grid-template-columns: repeat(auto-fill, minmax(131px, 0fr));
      grid-auto-rows: minmax(131px, auto);
    }
  }
}